<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Flask TO-DO APP</title>
</head>
<body>
    <header class="head">
        <div class="content-header">
            <h2><a href="/" class="active">My Todo</a></h2>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/">About</a></li>
            </ul>

            <div class="search-bar">
                <input
                spellcheck="false"
                type="text"
                placeholder="Search a to-do"
                name="search"
                id="search"
                class="search"
                />

                <button class="search-btn" id="search-btn">Search</button>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="contant section-1">
            <h2>Add your Todo</h2>
            <hr />
            <form method="POST" action="/" class="form" name="form">
                <div class="input-div">
                    <label for="title">Enter your Todo Title</label>
                    <input
                        type="text"
                        name="title"
                        id="title"
                        class="input-text"
                        placeholder="Enter a title"
                    />
                </div>

                <div class="input-div">
                    <label for="description">Describe your todo here</label>
                    <input 
                        type="text"
                        name="description"
                        class="input-text"
                        id="description"
                        placeholder="Enter a description"
                    />
                </div>
                <button class="add-btn" type="submit">Add</button>
            </form>
        </div>

        <div class="contant section-2">
            <h2>Your Todos</h2>
            <hr />
            <div class="table-div">
                <table id="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th class="description-row">Description</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Here we will fetch by using flask -->
                        {% for todo in todos%}
                        <tr>
                            <td>{{todo.title}}</td>
                            <td>{{todo.desc}}</td>
                            <td>{{todo.created_at}}</td>
                            <td class="button-row">
                                <a href="/update/{{todo._id}}" class="action-btns edit">Edit</a>
                                <a href="/delete/{{todo._id}}" class="action-btns delete">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>